<form method="POST" action="/new">
    <h1>Input Info</h1>
    <div>
        <h2>Author Name:</h2>
        <input type="text" name="author">
    </div>

    <div>
        <h2> Message:</h2>
        <input type="text" name="text">
    </div>

    <button type="submit">Submit</button>
</form>